
@media only screen and (min-width: 1460px) {
    .navbar-toggle {
        display: none;
    }

    .menu {
        justify-content: center;
    }

    .menu-bottom-wrapper {
        display: none;
    }
}


@media only screen and (max-width: 1460px) {
    .navbar-toggle {
        position: relative;
        display: block;
    }

    .header-icon img {
        width: 50px;
    }

    .menu {
        position: absolute;
        bottom: 0;
        background: white;
        width: 100%;
        flex-direction: column;
        top: 130px;
        z-index: 3;
        justify-content: space-evenly;
        transition: left .5s cubic-bezier(0,1,.5,1);
        left: -100%;
    }

    header {
        position: static;
    }

    .nav-link {
        text-align: center;
    }

    .menu-bottom-wrapper {
        position: fixed;
        bottom: 0;
        width: 100%;
        display: flex;
        height: 60px;
        left: -100%;
        z-index: 3;
        transition: left .5s cubic-bezier(0,1,.5,1);
        background-color: rgba(103, 174, 174, 1);
    }

    .pull-sidebar {
        left: 0;

    }

    .pull-bottom-navbar {
        left: 0;
    }

    .bottom-navbar {
        width: 100%;
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    .navbar-toggle {
        height: 20px;
        border: none;
        background: none;
        cursor: pointer;
    }

    .navbar-toggle:focus {
        outline: none;
    }

    .show, .visible {
        display: block;
    }

    .hide, .hidden {
        display: none;
    }



}

@media screen and (min-width: 576px) {
    .icons-container .menu-icon {
        margin-top: 0;
    }

    .icons-container {
        margin-right: 0;
    }

    .icons-wrapper {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .navbar-wrapper {
        display: flex;
        justify-content: space-around;
    }

    #logo-honore {
        margin: 0;
    }
}


@media screen and (min-width: 576px) {
    #logo-honore {
        margin: auto;
    }
}

@media screen and (max-width: 576px){
    .hidden-md {
        display: none;
    }

    .navbar-header.brand {
        width: 130px;
    }
}

@media screen and (max-width: 360px) {
    .like-icon-wrapper {
        display: none;
    }
}
